*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #f0f0f0;
  height: 100vh;
  display: grid;
  place-items: center;
}
.container{
  display: grid;
  place-items: center;
  width: 50%;
  height: 30vh;
  background-color: #fff;
  text-align: center;
  border-radius: .5rem;
}
.container button{
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  background-color: #5d43f0;
  color: #fff;
  cursor: pointer;
  border-radius: .4rem;
  transition:all .3s linear;
}
.container button:hover{
  background-color: #f0f0f0;
  color: #5d43f0;
}