*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: digital;
  src: url(DS-DIGI.TTF);
}

body{
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
  display: grid;
  place-items: center;
}
.calculator{
  /* width: 30%; */
  background-color: #361a3a;
  border-radius: 1rem;
  padding: 1.5rem;
}
.calculator form input{
  outline: 0;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: .3rem;
  background-color: transparent;
  color: #fff;
  box-shadow: -.1rem -.1rem 1rem rgba(255, 255, 255, 0.1), .1rem .1rem 1rem rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  margin: .3rem;
  cursor: pointer;
}
form .display{
  display: flex;
  justify-content: flex-end;
}
form .display input{
  background-color: #077929;
  color: #033b0c;
  font-size: 2rem;
  font-weight: bold;
  flex: 1;
  text-align: right;
  box-shadow: inset .5rem .5rem 1rem  rgba(0, 0, 0, 0.15);
  font-family: digital;
  padding: 0 .5rem;
  cursor: default;
}
form input.equal{
  width: 13.8rem;
}