:root{
  --bg-color: #252530;
  --bg-theme-dark: #0e0e13;
  --bg-theme-dark2: #202029;
  --bg-black: #000;
  --text-light: #f0f0f0;
  --text-dark: #c2c2c2;
  --theme-color: #FFC107;
  --accent-color: #7709d1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}


body{
  background-color: var(--bg-black);
  padding: 1.5rem;
}
.header{
  height: 5rem;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header .logo{
  color: var(--theme-color);
}
.header .logo span{
  background-color: var(--theme-color);
  padding: .5rem 1rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin: 0 1rem;
  transform: rotateZ(40deg);
}
.header ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header ul li a{
  text-decoration: none;
  color: inherit;
  position: relative;
}
.header ul li a::after{
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 0;
  height: .2rem;
  border-radius: 2rem;
  background-color: var(--theme-color);
  transition: all .4s linear;
}
.header ul li a:hover::after{
  width: 100%;
}
.fa-bars,.fa-x{
  font-size: 2rem;
  display: none;
}
@media (max-width: 600px) {
  body{
    padding: 0;
  }
}
@media (max-width: 900px) {

  .header{
    position: relative;
    position: sticky;
    top: 0;
  }
  .header ul{
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 70%;
    transition: all .5s linear;
  }
  .header ul.clicked{
    left: 0;
  }

  .fa-bars{
    display: block;
    cursor: pointer;
  }
}

main{
  background-color: var(--bg-theme-dark);
  color: var(--text-light);
}
.hero{
  height: 80vh;
  width: 100%;
  padding: 0 5rem;
  position: relative;
  z-index: 2;
}
.hero .overlay video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  z-index: -1;
}
.hero .text{
  align-content: center;
  text-align: center;
  font-size: 5vh;
  height: 70%;
  line-height: 5rem;
}
.hero .text span{
  color: var(--theme-color);
}
.hero .btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero .btns button{
  padding: 1.3rem 2rem;
  font-size: 1.2rem;
  border: none;
  outline: 0;
  cursor: pointer;
}
.hero .btns .cv{
  background-color: var(--theme-color);
}
.hero .btns .cv:hover{
  background-color: #f0cb5b;
}
.hero .btns .contact-btn{
  background-color: var(--bg-color);
  color: var(--theme-color);
}
.hero .btns .contact-btn:hover{
  background-color: #33333a;
}
@media (max-width: 600px) {
  .hero .text h1{
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (max-width: 900px) {
  .hero{
    padding: 1rem;
  }
  .hero .text{
    font-size: 4vh;
    line-height: 2.5rem;
  }
  .hero .btns button{
    padding: .8rem 1rem;
    font-size: .8rem;
    text-wrap: nowrap;
  }
  
}
.carousel{
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}
.carousel .container{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.carousel .container-wrapper {
  display: flex;
  animation: slide 20s linear infinite;
  gap: 2rem;
}
.carousel .container{
  flex-shrink: 0;
}
.carousel .container img{
  height: 5rem;
}
@keyframes slide {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-50%);
  }
  100%{
    transform: translateX(-80%);
  }
}

.services{
  height: fit-content;
  width: 100%;
  padding: 2rem;
}
.services h2{
  color: var(--theme-color);
  margin: 0 0 2rem;
}
.services .grid-container{
  display: grid;
  grid-template-columns: auto auto ;
  gap: 1rem;
}

.services .grid-container .item{
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-color);
  box-shadow: .1rem .1rem 1rem rgba(66, 65, 65, 0.25);
  text-align: center;
}

.services .grid-container .item .fa-cart-shopping,
.services .grid-container .item .fa-suitcase,
.services .grid-container .item .fa-computer,
.services .grid-container .item .fa-blog{
  font-size: 2rem;
  color: var(--accent-color);
}
.services .grid-container .item h2{
  font-size: 1.5rem;
  color: var(--theme-color);
  margin: 0;
}
.services .grid-container .item a{
  color: var(--theme-color);
}
.services .grid-container .item a:after{
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1rem;
}
@media (max-width: 800px) {
  .services .grid-container{
    grid-template-columns: auto;
  }
}
@media (max-width: 600px) {
  .services .grid-container .item h2{
    font-size: 1rem;
  }
  .services .grid-container .item p{
    font-size: .8rem;
  }
  .services .grid-container .item a{
    font-size: 1rem;
    padding: .8rem;
  }
  .services .grid-container .item a:after{
    font-size: 1rem;
  }
  .services .grid-container .item{
    gap: 0;
    padding: .5rem;
  }
}
.portfolio{
  width: 100%;
  padding: 2rem;
}
.portfolio h2{
  margin: 0 0 2rem;
  color: var(--theme-color);
}
.portfolio .container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  
}
@media (max-width: 900px) {
  .portfolio .container{
    grid-template-columns: auto auto;
  }
}
@media (max-width: 600px) {
  .portfolio .container{
    grid-template-columns: auto;
  }
}
.portfolio .container .item{
  height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: .1rem .1rem .5rem #252530;
}
.portfolio .container .item .img-container img:hover{
  transform: scale(1.2);
}
.portfolio .container .item:hover  .overlay{
  bottom: 0;
}
.portfolio .container .item .img-container{
  position: relative;
  height: 100%;
  width: 100%;
}
.portfolio .container .item .img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s linear;
}
.portfolio .container .item .img-container p{
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  color: var(--theme-color);
  font-weight: bolder;
  font-size: 4vh;
}
.portfolio .container .item .overlay{
  position: absolute;
  padding: 1rem;  
  height: 45%;
  background-color: var(--bg-color);
  transition: all .3s linear;
  bottom: -100%;
  left: 0;
  right: 0;
}
.portfolio .container .item .overlay p{
  color: var(--text-dark);
  margin: .5rem 0;
}
.portfolio .container .item .overlay a{
  color: var(--theme-color);
}
.portfolio .container .item .overlay a::after{
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1rem;
}

.about{
  height: auto;
  width: 100%;
  padding: 2rem;
}
.about h2{
  margin: 0 0 2rem;
  color: var(--theme-color);
}
.about .about-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-wrapper .details{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about .about-wrapper .details p{
  line-height: 2rem;
}
.about .about-wrapper .image{
  width: 50%;
  display: grid;
  place-items: start center;
}
.about .about-wrapper .image .img-wrapper{
  height: 100%;
  width: 70%;
  border: .5rem solid var(--accent-color);
  border-radius: 56% 44% 71% 29% / 44% 56% 44% 56% ;
  overflow: hidden;
}
.about .about-wrapper .image .img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .experience h2{
  color: var(--text-dark);
  border-bottom:.2rem solid var(--theme-color);
  width: 80%;
  text-align: left;
}
.about .experience .experience-wrapper{
  /* display: flex;
  align-items: start; */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  padding: 1rem 0;
  text-align: left;
  text-wrap: nowrap;
}
.about .experience-wrapper div i{
  text-decoration: none;
  color: var(--accent-color);
}
@media (max-width: 900px) {
  .about .about-wrapper{
    width: 100%;
    flex-direction: column;
  }
  .about .about-wrapper .details{
    width: 100%;
  }
  .about .about-wrapper .image{
    width: 100%;
  }
}
@media (max-width: 600px){
  .about .about-wrapper .details{
    text-align: center;
  }
  .about .about-wrapper .details p{
    line-height: 1.5rem;
    font-size: .8rem;
  }
  .about .experience{
    width: 100%;
  }
  .about .experience .experience-wrapper{
    grid-template-columns: auto;
  }
}
.contact{
  height: 80vh;
  width: 100%;
  margin: 2rem 0;
  background: url(assets/contact-bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 2rem;
}
.contact form{
  width: 50%;
  height: 90%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
@media (max-width:900px) {
  .contact form{
    width: 70%;
    height: 90%;
  }
}

.contact form div:not(.message){
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}
.contact form div i,
.contact form div span{
  padding: 1rem;
  background-color: var(--bg-theme-dark);
  color: var(--text-dark);
  font-weight: bolder;
}
.contact form div input{
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 1rem;
  background-color: var(--bg-theme-dark2);
  color: var(--text-dark);
}
.contact form .message{
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
}
.contact form .message i{
  height: 100%;
}
.contact form div textarea{
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 1rem;
  background-color: var(--bg-theme-dark2);
  color: var(--text-dark);
  resize: none;
}
.contact form div button{
  padding: 1rem 1.5rem;
  border: 0;
  outline: 0;
  background-color: var(--theme-color);
  cursor: pointer;
}
.contact form div button:hover{
  background-color: #f0cb5b;
}
.contact form .socials{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact form .socials li a{
  text-decoration: none;
  color: var(--text-dark);
}
footer{
  padding: 1.5rem;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
}
footer p{
  font-size: .8rem;
}
@media (max-width:900px){
  .contact{
    height: auto;
  }
  .contact form{
    width: 90%;
    height: 100%;
  }
  .contact form .message{
    height: 10rem;
    font-size: .6rem;
  }
  
  .contact form div i,
  .contact form div span{
    height: 100%;
    padding: .8rem;
    align-items: center;
    align-content: center;
    font-size: .6rem;
  }
  .contact form .message i{
    align-content: start;
  }
  .contact form div button{
    padding: .8rem 1rem;
    font-size: .6rem;
  }
}
@media (max-width:600px) {
  .contact{
    height: 80vh;
    padding: 0 1rem;
  }
  .contact h2{
    font-size: .8rem;
  }
  .contact form{
    width: 100%;
    height: 50%;
    padding: .8rem;
  }
  .contact form div:not(.message){
    height: 2rem;
    font-size: .6rem;
  }
  .contact form div i,
  .contact form div span{
    height: 100%;
    padding: .8rem;
    align-items: center;
    align-content: center;
  }
  .contact form .message{
    height: 5rem;
    font-size: .6rem;
  }
  .contact form .message i{
    align-content: start;
  }
  .contact form div button{
    padding: .5rem 1rem;
    font-size: .6rem;
  }
  footer{
    flex-direction: column;
  }
}
